<section class="font-arial">
  <div class="text-center">
    <h2 class="h2">Contact Us Now</h2>
    <p>Ready to get in touch? Email us at info@sudsandshine.com or call +233 0557002772.</p>
    <p>Follow us on social media for updates and promotions!</p>
    
      <a 
      class="walink"
      href="https://wa.me/233557002772"
      rel="noopener"
      target="_blank"
      title="Chat on WhatsApp">
          <fa-icon [icon]="whatsapp_icon"></fa-icon>
        Chat on WhatsApp
      </a>
  </div>
</section>